modules = ["python-3.12", "nodejs-20", "web", "bash"]
run = "python main.py"

[nix]
channel = "stable-24_05"
packages = ["cargo", "ffmpeg-full", "libiconv", "libxcrypt", "openssl", "pkg-config", "portaudio", "rustc"]

[deployment]
run = ["sh", "-c", "python scripts/system_check.py && python main.py"]

[workflows]
runButton = "Run Application"

[[workflows.workflow]]
name = "Run Application"
author = 44198526
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python scripts/system_check.py && python main.py"
